@{
    ViewData["Title"] = "About Us";
}

<div class="container">

    <h2>@ViewData["Title"]</h2>

    <div class="row">
        <div class="col-md-12">
            <div class="sub-text-wrapper">
                <div class="sub-text">
                    <div class="sub-text-headline">
                        <h4>
                            If you have any questions about Burgessville Baptist Church, would like to visit with us,
                            or would like to get more involved, please do not hesitate to contact us - we would love to hear from you!
                        </h4>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            <img src="~/images/emma_johnston_profile_pic.png" class="" alt="Pastor Emma Johnston">
        </div>
        <div class="col-md-9">
            <h3>Emma Johnston Biography</h3>
            <p>Pastor Emma has been part of the Burgessville Family for six years. Her passion is to promote a Christ centered environment that is friendly, down to earth and genuine. She believes that church is designed to be a place of fellowship, worship and teaching, and that this can be accomplished in a casual style, family welcoming way.</p>
            <p>Her educational background includes an Undergraduate Degree in World Religion and Cultural Studies and a Masters of Divinity from McMaster Divinity College. Her interests are in reaching out to local families, promoting unity and interfaith dialogue and seeing the church become in integrated and supportive part of the community.</p>
            <p>Her sermon style is Biblically focused with examples and application to real life. She believes that the Bible holds truth that can resonate in our everyday and encourages dialogue and conversation in response to all teachings.</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h3>What do Baptist Believe</h3>
            <p>We are part of the Convention Baptists of Ontario and Quebec. We believe and hold to their mandates and support the denomination in all its distinctives. 
            We are a church that believes all people can come, worship, be part of the Kingdom of God and have a role within the work and ministries of our church. 
            We do not discriminate based on age, gender or background and believe God loves and has called all people to be part of His family. You are welcome here!</p>
            <h3>1. Jesus is Lord</h3>
            <p>Baptists believe that Jesus Christ, being eternally God, only begotten Son and the visible expression of the invisible God, effectively procured salvation for 
            all creation through his death, burial and resurrection. He is the one assigned by God the Father to rule with authority over all of creation. 
            Every area of the believer’s life and the life of the church is to be subject to the Lord.</p>
            <h3>2. The Word of God is the Authoritative Rule of Faith and Practice</h3>
            <p>
                Baptists believe that God communicates his will through the inspired Word of God. For Baptists, the Bible is the final authority in matters of faith and practice.  
                It is to be interpreted responsibly under the guidance of God’s Holy Spirit within the community of faith.
            </p>
            <h3>3. The Priesthood of All Believers</h3>
            <p>
                The Bible affirms the value of each person as having been created in the image of God, and also declares each person morally responsible for his/her own nature and behaviour. 
                Baptists believe that inherent in the worth of each person is also the right and competency of each individual personally to deal directly with God through Jesus Christ. 
                This principle also suggests our responsibility to serve other believers in intercession and nurture: we are priests to each other.  Baptists believe that no group or individual 
                has any right to compel others—forcefully or politically—to believe or worship as they do. Rather, Baptists have historically been champions of religious liberty.
            </p>
            <h3>4. A Believers’ Church</h3>
            <p>
                Baptists believe that Jesus Christ chooses to form his church by bringing together believers for the purpose of worship, witness, fellowship and ministry (both spiritual and social). 
                Baptists recognize the church universal as all who truly profess faith in Jesus Christ as Lord and Saviour. They also profess their understanding of the church as being visibly 
                expressed in local congregations. Each local church must thus be made up of believers who, upon their profession of faith and their baptism (almost always by immersion), are 
                incorporated into the local church through the activity of the Holy Spirit. Baptists believe that Believers’ Baptism and the Lord’s Supper are the two ordinances required by the 
                New Testament and are to be administered by the local church.
            </p>
            <h3>1. Jesus is Lord</h3>
            <p>
                Baptists believe that Jesus Christ, being eternally God, only begotten Son and the visible expression of the invisible God, effectively procured salvation for all creation through his death, burial and resurrection. He is the one assigned by God the Father to rule with authority over all of creation.
                Every area of the believer’s life and the life of the church is to be subject to the Lord.
            </p>
            <h3>1. Jesus is Lord</h3>
            <p>
                Baptists believe that Jesus Christ, being eternally God, only begotten Son and the visible expression of the invisible God, effectively procured salvation for all creation through his death, burial and resurrection. He is the one assigned by God the Father to rule with authority over all of creation.
                Every area of the believer’s life and the life of the church is to be subject to the Lord.
            </p>
            <h3>1. Jesus is Lord</h3>
            <p>
                Baptists believe that Jesus Christ, being eternally God, only begotten Son and the visible expression of the invisible God, effectively procured salvation for all creation through his death, burial and resurrection. He is the one assigned by God the Father to rule with authority over all of creation.
                Every area of the believer’s life and the life of the church is to be subject to the Lord.
            </p>
        </div>
    </div>

</div>