
@{
    ViewData["Title"] = "Calendar";
}

<div class="container">
    
    <h2>@ViewData["Title"]</h2>

    <div class="row">
        <div class="col-md-12">
            <div class="sub-text-wrapper">
                <div class="sub-text">
                    <div class="sub-text-headline">
                        <h4>
                            If you have any questions about Burgessville Baptist Church, would like to visit with us,
                            or would like to get more involved, please do not hesitate to contact us - we would love to hear from you!
                        </h4>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <iframe src="https://calendar.google.com/calendar/embed?showCalendars=0&amp;showTz=0&amp;height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=6ppm3psd604vnihs57sc3n0a6c%40group.calendar.google.com&amp;color=%235F6B02&amp;ctz=America%2FToronto" style="border-width:0" width="100%" height="800" frameborder="0" scrolling="no"></iframe>
        </div>
    </div>
    
</div>


