@{
    ViewData["Title"] = "Contact Us";
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <div class="container">
        <h2>@ViewData["Title"]</h2>
        <div class="row-fluid">
            <div class="sub-text-wrapper">
                <div class="sub-text">
                    <div class="sub-text-headline">
                        <h4>
                            If you have any questions about Burgessville Baptist Church, would like to visit with us,
                            or would like to get more involved, please do not hesitate to contact us - we would love to hear from you!
                        </h4>
                    </div>
                
                    <h3>Contact Us By</h3>
                    <address>
                        <div class="icons">
                            
                                Phone:
                                <span class="glyphicon glyphicon-phone-alt"></span>519-424-9817<br />
                            
                            
                                Email Pastor Emma Johnston:
                                <a href="mailto:emmajohnston.pastor@gmail.com">
                                    <span class="glyphicon glyphicon-envelope"></span>emmajohnston.pastor@gmail.com
                                </a>
                            
                        </div>
                    </address>
                    <h3>Join us on our Facebook Page:</h3>
                    
                    <a class="btn btn-facebook" href="https://www.facebook.com/Burgessville-Baptist-Church-169960646782176/?ref=nf" role="button">Sign in with Facebook</a>

                    <h3>Mailing Address</h3>
                    <address>
                        Burgessville Baptist Church<br />
                        63 Church St, West<br />
                        Burgessville, ON<br />
                        N0J 1C0<br />
                    </address>
                </div>
            </div>
        </div>
    </div>
