@{
    ViewData["Title"] = "Contact Us";
}

<div class="container">
    <h2>@ViewData["Title"]</h2>
    <div class="row">
        <div class="col-md-12">
            <div class="sub-text-wrapper">
                <div class="sub-text">
                    <div class="sub-text-headline">
                        <h4>
                            If you have any questions about Burgessville Baptist Church, would like to visit with us,
                            or would like to get more involved, please do not hesitate to contact us - we would love to hear from you!
                        </h4>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <h3>Contact Us By</h3>
            <address>
                <table class="table table-hover">
                    <tbody>
                        <tr>
                            <td><span class="glyphicon glyphicon-phone-alt"></span>&nbsp;Phone</td>
                            <td>519-424-9817</td>
                        </tr>
                        <tr>
                            <td><span class="glyphicon glyphicon-envelope"></span>&nbsp;Email Pastor Emma Johnston</td>
                            <td><a href="mailto:emmajohnston.pastor@gmail.com">emmajohnston.pastor@gmail.com</a></td>
                        </tr>
                    </tbody>
                </table>
            </address>
        </div>
        <div class="col-md-4 col-md-offset-2">
            <h3>Mailing Address</h3>
            <address>
                Burgessville Baptist Church<br />
                63 Church St, West<br />
                Burgessville, ON<br />
                N0J 1C0<br />
            </address>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h3>Follow us on our Facebook Page</h3>
            <a class="btn btn-facebook" href="https://www.facebook.com/Burgessville-Baptist-Church-169960646782176/?ref=nf" role="button">Sign in with Facebook</a>
        </div>
    </div>
    
</div>