@model IEnumerable<ChurchWebsite.Presentation.Models.EventsModels.EventItem>
@{
    ViewData["Title"] = "Events";
}

<div class="container">
    
    <h2>@ViewData["Title"]</h2>
    
    <div class="row">
        <div class="col-md-12">
            <div class="sub-text-wrapper">
                <div class="sub-text">
                    <div class="sub-text-headline">
                        <h4>
                            Burgessville Baptist Church events are geared towards joining the church and surrounding communities together with fun activities for all ages. 
                            Events will be listed here in chronological order with a brief description, date, time, and location as they arise. For a quick view of events for the month, take a quick look at our <a asp-controller="Home" asp-action="Calendar" class="in-paragraph-link">Calendar</a> 
                        </h4>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @foreach (var item in Model)
    {
        <div class="row">
            <div class="col-md-12">
                <h3 class="event-title-container">@item.EventTitle</h3>
                <span class="event-date-container">@item.EventDate.ToString("D")</span>
                <p class="event-text-container">@item.EventText</p>
            </div>
        </div>
    }

</div>