@model IEnumerable<ChurchWebsite.Presentation.Models.EventsModels.EventItem>
@{
    ViewData["Title"] = "Events";
}

<div class="container">
    
    <h2>@ViewData["Title"]</h2>
    
    <div class="row">
        <div class="col-md-12">
            <div class="sub-text-wrapper">
                <div class="sub-text">
                    <div class="sub-text-headline">
                        <h4>
                            If you have any questions about Burgessville Baptist Church, would like to visit with us,
                            or would like to get more involved, please do not hesitate to contact us - we would love to hear from you!
                        </h4>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @foreach (var item in Model)
    {
        <div class="row">
            <div class="col-md-12">
                <h3 class="event-title-container">@item.EventTitle</h3>
                <span class="event-date-container">@item.EventDate.ToString("D")</span>
                <p class="event-text-container">@item.EventText</p>
            </div>
        </div>
    }

</div>