
@{
    ViewData["Title"] = "Ministries";
}


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="container">
    <h2>@ViewData["Title"].</h2>

    <section>
        <p>Our Ministries</p>

        <h2>Family Ministry</h2>

        <h3>NEEDS A NAME                       Mondays 6:30-8:00pm</h3>
        (Starting in September 2017)

        We meet every Monday evening 6:30-8:00pm for a time of desserts and coffee, followed by themed times of learning and discussion. This program is designed to explore issues of general interest to our community. Issues may include Grief and Recovery, topics in parenting, developing leadership skills, religion and culture and many more – for a complete list of upcoming topics see our calendar of events.
        This program is designed for families – there are specific activities and programs designed for adults, youth and children. We encourage everyone to attend and come away having learned something that will positively impact themselves or their community.
        Guest speakers and experts on each topic will be visiting Burgessville Baptist Church once a month. Free will offering only – everyone welcome!


        Reel Family Time                        Quarterly 7:00-9:00pm

        Quarterly we run a family friendly movie on our big screen. We provide popcorn, treats and opportunities for discussion. Families are welcome to join us, watch a current G or PG rated movie and go home with a load of resources to encourage family discussion and time together. Bring your blankets, pillows and feel free to wear your pajamas. Our program is free and will feature movies in October, December, February and April.
    </section>

    Adult Ministries

    Walking and Support Group    Tuesdays 9:30-11:00am
    (program runs April-November)

    We meet every Tuesday morning (rain or shine) to walk together. This is a time of connection and exercise where everyone is welcome to join. It’s drop in format, so just, come by when you’re free. We meet in the parking lot and leave together – bring umbrellas for the rain. Everyone is welcome to come into the church for a time of prayer afterwards from 11:00-11:30, or just stay for the walk if that works best.





    Ladies Bible Study                  Tuesdays 9:30-11:30am (Winter)

    We run a weekly ladies Bible Study on Tuesday mornings through the winter (January-March). This study varies each year, but allows a safe and welcoming environment for women in all walks of life to come together, ask questions, search scripture and encourage one another on their journey of faith. Designed to push us deeper, reflect on ourselves and our choices and guide us into a closer relationship with Jesus Christ.





    Grief and Support Group         First Wednesday of the Month 7:00-9:00pm

    We meet once a month to surround ourselves with positivity, support and love as we wrestle through our own personal experiences of Grief. All those who are grieving, whether through loss, relationship break ups, illness, or any other life struggle, we welcome you to join us for a time of fellowship, support and care. Listen to guest speakers, be given tools for strength and recovery and simply know that you are not alone.


    Youth Ministries

    Junior High Youth Group

    We are part of a community based junior high group that focuses on developing strong leadership skills, promoting service within our community and connecting with our youth grades 6-8. We run this program in conjunction with other local churches and the Norwich Youth For Christ. The program rotates locations, but is open to all youth in this age range. Program runs for 8 week blocks – see calendar for next start date.


    Children’s Ministry

    Sunday School

    We run a weekly Sunday School during our church service that caters to children ages 3-12. Crafts, games and Biblically based lessons help inform the children, while keeping things fun, fast paced and culturally relevant. Any children who do not wish to be part of our Sunday School program are more than welcome to join us during the service.



    Vacation Bible School (VBS)                 July

    Every year we run a one week long day camp for kids ages 4-10. We explore different themes such as Medieval Times, Around the World, Mad Science and Under the Sea. Kids will have a great time singing, playing games, doing crafts, having cool themed snacks, hearing stories and making friends. The week is free and we welcome all kids to join us for a fun packed time of learning and activity!




<p>
    Emma Johnston Biography

    Pastor Emma has been part of the Burgessville Family for six years. Her passion is to promote a Christ centered environment that is friendly, down to earth and genuine. She believes that church is designed to be a place of fellowship, worship and teaching, and that this can be accomplished in a casual style, family welcoming way.
    Her educational background includes an Undergraduate Degree in World Religion and Cultural Studies and a Masters of Divinity from McMaster Divinity College. Her interests are in reaching out to local families, promoting unity and interfaith dialogue and seeing the church become in integrated and supportive part of the community.
    Her sermon style is Biblically focused with examples and application to real life. She believes that the Bible holds truth that can resonate in our everyday and encourages dialogue and conversation in response to all teachings.
    </p>
</div>
