@inject Microsoft.ApplicationInsights.AspNetCore.JavaScriptSnippet JavaScriptSnippet
<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <title>@ViewData["Title"] - Burgessville Baptist Church</title>

    <environment names="Development">
        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>

    <environment names="Staging,Production">
        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>

    @Html.Raw(JavaScriptSnippet.FullScript)
</head>
<body>
    <div class="panorama-header">
        <img alt="panorama image" src="~/images/panorama_header.png" class="panorama-image" />
    </div>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a class="custom-navbar-text" asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                    <li><a class="custom-navbar-text" asp-area="" asp-controller="Home" asp-action="About">About Us</a></li>
                    <li class="dropdown">
                        <a class="dropdown-toggle custom-navbar-text" data-toggle="dropdown" asp-area="" asp-controller="Home" asp-action="Family">Our Ministries<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a class="custom-navbar-text" asp-area="" asp-controller="Home" asp-action="Family">Family Ministry</a></li>
                            <li><a class="custom-navbar-text" asp-area="" asp-controller="Home" asp-action="Adult">Adult Ministry</a></li>
                            <li><a class="custom-navbar-text" asp-area="" asp-controller="Home" asp-action="Youth">Youth Ministry</a></li>
                            <li><a class="custom-navbar-text" asp-area="" asp-controller="Home" asp-action="Children">Children Ministry</a></li>
                        </ul>
                    </li>
                    <li><a class="custom-navbar-text" asp-area="" asp-controller="Home" asp-action="Event">Events</a></li>
                    <li><a class="custom-navbar-text" asp-area="" asp-controller="Home" asp-action="Calendar">Calendar</a></li>
                    <li><a class="custom-navbar-text" asp-area="" asp-controller="Home" asp-action="Contact">Contact Us</a></li>
                </ul>
            </div>
        </div>
    </nav>
    
        @RenderBody()
    <div>
        <footer class="information-container text-center">
            <div class="map-frame map-content">
                <iframe style="width:100%; height: 200px; background-color:#ccc;" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2916.894326974375!2d-80.66181998408884!3d43.02261137914798!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x882c249e5796e95d%3A0x84b02c4c926f08f1!2sBurgessville+Baptist+Church!5e0!3m2!1sen!2sca!4v1497552490860" width="600" height="450" allowfullscreen></iframe>
            </div><br />
            
                    <button class="btn btn-default go-top-btn" onclick="topFunction()" id="myBtn" title="Back To Top" data-toggle="tooltip">Back To Top</button>
                    <p>&copy; 2017 - Burgessville Baptist Church</p>
        </footer>
    </div>
  
    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>

    <environment names="Staging,Production">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>

        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>

        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <script>
        (function (b, o, i, l, e, r) {
        b.GoogleAnalyticsObject = l; b[l] || (b[l] =
            function () { (b[l].q = b[l].q || []).push(arguments) }); b[l].l = +new Date;
            e = o.createElement(i); r = o.getElementsByTagName(i)[0];
            e.src = 'https://www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e, r)
        }(window, document, 'script', 'ga'));
        ga('create', 'UA-100013573-1', 'auto'); ga('send', 'pageview');
    </script>
</body>
</html>

