@model ChurchWebsite.Presentation.Models.EventsModels.EventItem

@{
    ViewData["Title"] = "Create Event";
}

<div class="container">

    <h2>Create Event</h2>
    <form asp-action="Create">
        <div class="form-horizontal">
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="EventTitle" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="EventTitle" class="form-control" />
                    <span asp-validation-for="EventTitle" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="EventText" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="EventText" class="form-control" />
                    <span asp-validation-for="EventText" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="EventDate" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <div class="input-group date">
                        <input asp-for="EventDate" class="form-control" id="datetimepicker1" placeholder="MM/DD/YYYY" type="text" />
                        <span class="input-group-addon add-on-width" id="btn" style="cursor:pointer;">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                        <span asp-validation-for="EventDate" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="EventDateExpiry" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <div class="input-group date" id="date-picker">
                        <input asp-for="EventDateExpiry" class="form-control" id="datetimepicker2" placeholder="MM/DD/YYYY" type="text" />
                        <span class="input-group-addon add-on-width" id="btn" style="cursor:pointer;">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                        <span asp-validation-for="EventDateExpiry" class="text-danger"></span>
                    </div>
                    </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>
    </form>

    <a asp-action="Index">Back to List</a>
</div>




@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
