html {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    background-color: #e6e6e6;
}

body {
    background-color: #fff;
    background-color: #e6e6e6;
}

.container {
    background-color: #fff;
    padding-top: 14px;
    padding-bottom:40px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
    color: #000000;
}

/* buttons and links extension to use brackets: [ click me ] */
.btn-bracketed::before {
    display: inline-block;
    content: "[";
    padding-right: 0.5em;
}

.btn-bracketed::after {
    display: inline-block;
    content: "]";
    padding-left: 0.5em;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.heading-border {
    padding: 0 0 7px 4px;
    border-bottom: 1px solid #a71212;
}

.top-header-brand {
    margin-bottom: 0;
}

.custom-navbar {
    border-radius: 0;
    background-color: #8a0e0e;
}

.custom-navbar-text {
    color: #fff;
}

.information-container {
    background-color: #494949;
}

footer {
    height: 380px;
    background-color: #2d2d30;
    color: #2d2d30;
    padding: 32px;
}

footer a {
    color: #2d2d30;
}

footer a:hover {
    color: #777;
    text-decoration: none;
}

.footer-map {
    height: 320px;
}

.footer-content {
    background-color: #e2e2d4;
    padding: 1px 24px 23px 24px;
}

.footer-copyright-container {
    margin-top: 32px;
}

.footer-copyright-text {
    padding: 15px 0 0 0;
}

.sub-text {
    margin: 0 0 60px 0;
}

.sub-text-headline {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    line-height: 34px;
    color: #444444;
    padding: 20px 0 20px 0;
    margin: 0 0 35px 0;
    border-top: 1px solid #8a0e0e;
    border-bottom: 1px solid #8a0e0e;
}

.sub-text-wrapper {
    padding-top: 10px;
    padding-right: 10px;
}

.btn-facebook {
    color: #fff;
    background-color: #3b5998;
    border-color: rgba(0,0,0,0.2)
}

.btn-facebook:focus, .btn-facebook.focus {
    color: #fff;
    background-color: #2d4373;
    border-color: rgba(0,0,0,0.2)
}

.btn-facebook:hover {
    color: #fff;
    background-color: #2d4373;
    border-color: rgba(0,0,0,0.2)
}

.btn-facebook:active, .btn-facebook.active, .open > .dropdown-toggle.btn-facebook {
    color: #fff;
    background-color: #2d4373;
    border-color: rgba(0,0,0,0.2)
}

.btn-facebook:active:hover, .btn-facebook.active:hover, .open > .dropdown-toggle.btn-facebook:hover, .btn-facebook:active:focus, .btn-facebook.active:focus, .open > .dropdown-toggle.btn-facebook:focus, .btn-facebook:active.focus, .btn-facebook.active.focus, .open > .dropdown-toggle.btn-facebook.focus {
    color: #fff;
    background-color: #23345a;
    border-color: rgba(0,0,0,0.2)
}

.btn-facebook:active, .btn-facebook.active, .open > .dropdown-toggle.btn-facebook {
    background-image: none
}

.btn-facebook.disabled:hover, .btn-facebook[disabled]:hover, fieldset[disabled] .btn-facebook:hover, .btn-facebook.disabled:focus, .btn-facebook[disabled]:focus, fieldset[disabled] .btn-facebook:focus, .btn-facebook.disabled.focus, .btn-facebook[disabled].focus, fieldset[disabled] .btn-facebook.focus {
    background-color: #3b5998;
    border-color: rgba(0,0,0,0.2)
}

.btn-facebook .badge {
    color: #3b5998;
    background-color: #fff
}

.counter {
    background: #2C2C2C;
    -moz-box-shadow: inset 0 0 5px #000000;
    -webkit-box-shadow: inset 0 0 5px #000000;
    box-shadow: inset 0 0 5px #000000;
    min-height: 150px;
    text-align: center;
}

.counter h2 {
    color: #E5E5E5;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: lighter;
    letter-spacing: 1px;
    padding-top: 20px;
    margin-bottom: 30px;
    }

#countdown {
    color: #FFFFFF;
}

#countdown span {
    color: #E5E5E5;
    font-size: 26px;
    font-weight: normal;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
}

.go-top-btn {
    margin: 0 auto;
    width: 140px;
    color: #e2e2d4;
    background-color: #494949;
    position: relative;
}

.go-top-btn:hover {
    background-color: #a71212;
    color: #e2e2d4;
}

.navbar {
    font-size: 15px;
    margin-bottom: 0;
}

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
    background-color: #e2e2d4;
    color: #000;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    color: #000;
    font-weight: bold;
    background-color: #e2e2d4;
}

.navbar-inverse {
    background-color: #a71212;
}

.panorama-header {
    height: 260px;
    width: 100%;
    background-image: url('../images/panorama_header.png');
}

.logo-image {
    position: absolute;
    top: 70px;
    left: 15%;
}

.panorama-image {
    width: 100%;
}

.navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
}

.navbar .navbar-collapse {
    text-align: center;
}

.event-text-container {
    margin: 2px 0 0 0;
    padding: 6px 6px 6px 6px;
    color: #000;
}

.event-date-container {
    padding: 0 0 0 6px;
    font-size: 18px;
    color: #3b5998;
}

.event-title-container {
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 8px;
    color: #555;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    color: #ffffff;
    background-color: #494949;
}

.carousel-caption p {
    font-size: 40px;
}

.in-paragraph-link {
    font-weight: bold;
    color: #3b5998;
}

.input-group-addon {
    width: 47px;
}

.form-control {
    width: 250px;
}